.slideshow{
  position: static;
  border: red 2px solid;
  margin-top: 100px;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}
.slideshow img{
  width: 100%;
  
}
.slideshow p{
  position: static;
  font: 30px bold black;
  
}
.showcase {
  display: flex;
  flex-direction: row;
  
}
.showcase .box {
  border: 2px green solid;
  flex: 1;
  height: 300px;
}