// global mixin declarations
@mixin flex-center( $direction ) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin sloganAndSubheading {
  h1 {
    text-align: center;
    font-family: $layout-font;
    @include themify($themes) {
      color: themed('headingColor');
    } 
  }
  h3 {
    @include themify($themes) {
      color: themed('subheadingColor');
    }
    text-align: center;
    font-family: $layout-font;
    font-style: italic;
    padding-bottom: 3%;
  }
}
@mixin boxStyle {
  @include themify($themes) {
    color: themed('bodyTextColor');  
  }
  flex: 1;
  font-family: $layout-font;
  padding: 3%;
  height: auto;
  letter-spacing: 2px;
  line-height: 2rem;
  ul {
    list-style-type: none;
  }
  @media (min-width: 769px){
    min-height: 565px;
  }
}
@mixin box2Style {
  @include themify($themes) {
    color: themed('bodyTextColor');  
  }
  flex: 1;
  font-family: $layout-font;
  padding: 3%;
  height: auto;
  letter-spacing: 2px;
  line-height: 2rem;
  ul {
    list-style-type: none;
  }
  @media (min-width: 769px){
    min-height: 200px;
  }
}

// variable declarations
$layout-font: 'optima', 'futura', 'sans-serif';
$toolbar-height: 65px;

// theme definition
$themes: (
  1: (  //uses elevation1.png toolbar logo & atlanta1 or 3.jpg
    bodyTextColor: #001C55, // text 
    footerColor: linear-gradient(#001C55, #001C55, rgb(34, 34, 34)),
    footerTextColor: #f2eaec,
    headerColor:  linear-gradient(white, white), 
    headerTextColor: #0E6BA8,
    headerHoverTextColor: #001C55 ,
    headingColor: #001C55,
    sideDrawerColor: white,
    subheadingColor: #0E6BA8
  ),
  2: (  //uses elevation2.png toolbar logo & atlanta2.jpg showcase
    bodyTextColor: #032535,
    footerColor: linear-gradient(#032535, #032535, rgb(34, 34, 34)),
    footerTextColor: white,
    headerColor: linear-gradient(white, white, rgb(180, 180, 180)), 
    headerTextColor: #032535,
    headerHoverTextColor:#ff9a00,
    headingColor:  #032535 ,
    sideDrawerColor: white,
    subheadingColor: #394359
  ),
);

// Implementation of themes
 @mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
