@import '_themes.scss';

.App{
  min-width: 360px;
}
//toolbar styles
.toolbar{
  @include themify($themes) {
    background-image: themed('headerColor');      
  }
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-family: $layout-font;
  font-size: 16pt;
  height: $toolbar-height;
  min-width: 360px;
	position: sticky;
  	top: 0;
	  left: 0;
  width: 100%;
  .toolbar_navigation {
    @include flex-center(row);
    .toolbar_logo {
      flex: 1;
      height: $toolbar-height;
      padding-left: 1rem;
      img {
        height: $toolbar-height;
        position: sticky;
      }
    }
    .toolbar_toggle-button {
      padding-right: 1rem;
    }
    .toolbar_navigation-items {
      height: $toolbar-height;
      ul {
        list-style: none;
        @include flex-center(row); 
        li {
          padding: 0.5rem;
        }
        a {
          text-decoration: none;
          @include themify($themes) {
            color: themed('headerTextColor');
            &:hover {
              color: themed('headerHoverTextColor');
            }
          }
        }
      } 
    }
  } 
}
  // iphone - ipad 
  @media (max-width: 768px){
    .toolbar_navigation-items {
      display: none;
    }
  } 
  // ipad pro +
  @media (min-width: 769px) {
    .toolbar_toggle-button {
      display: none;
    }
    .toolbar_navigation-items{
      @include flex-center(row);
    }
  }

// drawertogglebutton styles
.toggle-button {
  @include flex-center(column);
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 25px;
	justify-content: space-around;
	padding: 0;
	width: 30px;
  &:focus {
    outline: none;
  }
  .toggle-button_line {
    width: 30px;
    height: 2px;
    @include themify($themes) {
      background: themed('headerTextColor');
    }
  }
}


// sidedrawer styles
.side-drawer {
  @include themify($themes) {
    color: themed('headerTextColor');
    background-color: themed('sideDrawerColor');
  }
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  font-family: $layout-font;
	height: 100vh;
	max-width: 170px;
	position: fixed;
	  top: 0;
	  left: 0;
	transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  width: 50%;
  z-index: 200;
  &.open {
    transform: translateX(0);
  }
  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: top;
    list-style: none;
    li {
      margin: 0.9rem 0;
      a {
        font-size: 1.2rem;
        text-decoration: none;
        @include themify($themes) {
          color: themed('headerTextColor');
        }
      }
      img {
        width: 23%;
        padding-right: 10px;
        margin-left: -1rem;
      }
      #sideDrawerLogo {
        position: fixed;
          bottom: 0;
        width: 75%;
      }
    }
    
  }
  @media (min-width: 769px) {
    .side-drawer {
      display: none;
    }
  }
}
// backdrop styles
.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 100;
}


// showcase styles
.showcase{
  width: 100%;
  min-height: 100vh;
  img { width: 100%;}
  #icon {
    width: 15%;
    float: left;
    padding-right: 2rem;
    &:hover {
      transform: scale(1.5);
    }
  }
  .slogan {
    @include sloganAndSubheading();
  }
  .container {
    @include flex-center(row);
    margin-left: 10%;
    margin-right: 10%;
    .box { @include boxStyle(); }
    .box2{ @include box2Style(); }
  }
  // iphone - ipad
  @media (max-width: 768px){
    .container {
      @include flex-center(column);
      letter-spacing: 1px;
    }
    #boxImage { max-width: 266px; }
  }
  @media (min-width: 769px){
    #boxImage { max-width: 266px; }
  }
}
//contact page form
#formBox {
  @include themify($themes) {
    color: themed('bodyTextColor');
  }
  @include flex-center(column);
  font-family: $layout-font;
  form {
    width: 60%;
  }
  input {
    padding: 5px;
    margin: 5px;
    width: 98%;
  }
  textarea {
    padding: 1rem;
    width: 96.5%;
  }
  #submitButton{
    width: 9rem;
    float: right;
    &:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
  }
}
// image bar
#imageBar {
  @include flex-center(row);
  font-family: $layout-font;
  color: white;
  .image {
    width: 33.3%;
    position: relative;
    text-align: center;
    filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -webkit-transition: all 1s ease;
    &:hover {
      filter: grayscale(0%);
      filter: gray;
        -webkit-filter: grayscale(0%);
      filter: none;
      transition: 1s ease;
    }
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);  
  }
  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);  
    font-style: italic;
  }
}
//spacer
.spacer {
  width: 100%;
  height: 40vh;
}
// footer styles
footer{
  @include themify($themes) {
    color: themed('footerTextColor');  
    background-image: themed('footerColor');
  }
  font-family: $layout-font;
  font-size: 12pt;
  word-spacing: 3px;
  letter-spacing: 2px;
  line-height: 25px;
  position: static;
  height: 250px;
  text-align: center;
  padding-top: 50px;
  #copy {
    font-size: 10pt;
  }
  a {
    @include themify($themes) {
      color: themed('footerTextColor');  
    }
    text-decoration: none;
    &:hover {
      color:rgb(95, 95, 95);
    }
  }
}
/*# sourceMappingURL=App.css.map */