@import '_themes.scss';

.App{
  min-width: 320px;
  overflow: hidden;
}
//toolbar styles
.toolbar{
  @include themify($themes) {
    background-image: themed('headerColor');      
  }
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-family: $layout-font;
  font-size: 16pt;
  height: $toolbar-height;
  // min-width: 360px;
	position: sticky;
  	top: 0;
	  left: 0;
  width: 100%;
  
  z-index: 2;
  .toolbar_navigation {
    @include flex-center(row);
    .toolbar_logo {
      flex: 1;
      height: $toolbar-height;
      img {
        height: $toolbar-height;
        position: sticky;
      }
    }
    .toolbar_toggle-button {
      padding-right: 1rem;
    }
    .toolbar_navigation-items {
      height: $toolbar-height;
      ul {
        list-style: none;
        @include flex-center(row); 
        li {
          padding: 0.5rem;
        }
        a {
          text-decoration: none;
          @include themify($themes) {
            color: themed('headerTextColor');
            &:hover {
              color: themed('headerHoverTextColor');
            }
          }
        }
      } 
    }
  } 
  @media (max-width: 325px) {
    width: 100%;
    .toolbar_logo{
      padding-left: 0;
      padding-right: 5px;
      img {
        width: 100%;
      }
    }
  }
  @media (min-width: 326px) {
    .toolbar_logo{
      padding-left: 1rem;
    }
  }
}
  // iphone - ipad 
  @media (max-width: 768px){
    .toolbar_navigation-items {
      display: none;
    }
  } 
  // ipad pro +
  @media (min-width: 769px) {
    .toolbar_toggle-button {
      display: none;
    }
    .toolbar_navigation-items{
      @include flex-center(row);
    }
  }

// drawertogglebutton styles
.toggle-button {
  @include flex-center(column);
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 25px;
	justify-content: space-around;
	padding: 0;
	width: 30px;
  &:focus {
    outline: none;
  }
  .toggle-button_line {
    width: 30px;
    height: 2px;
    @include themify($themes) {
      background: themed('headerTextColor');
    }
  }
}

// sidedrawer styles
.side-drawer {
  @include themify($themes) {
    color: themed('headerTextColor');
    background-color: themed('sideDrawerColor');
  }
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  font-family: $layout-font;
	height: 100vh;
	max-width: 170px;
	position: fixed;
	  top: 0;
	  left: 0;
	transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  width: 50%;
  z-index: 200;
  &.open {
    transform: translateX(0);
  }
  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: top;
    list-style: none;
    li {
      margin: 0.9rem 0;
      a {
        font-size: 1.3rem;
        text-decoration: none;
        @include themify($themes) {
          color: themed('headerTextColor');
        }
      }
      img {
        width: 15%;
        padding-right: 10px;
        margin-left: -1rem;
      }
      #sideDrawerLogo {
        position: fixed;
          bottom: 0;
        width: 75%;
      }
    }
  }
  @media (min-width: 769px) {
    .side-drawer {
      display: none;
    }
  }
}
// backdrop styles
.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 100;
}

// showcase styles
.showcase{
  width: 100%;
  img { width: 100%;}

  .slogan {
    @include sloganAndSubheading();
  }
  #aboutH1{
    margin-top: 0;
  }
  .container {
    @include flex-center(row);
    margin-left: 10%;
    margin-right: 10%;
    .box { @include boxStyle(); }
    .box2{ @include box2Style(); }
  }
  #icon {
    width: 15%;
    float: left;
    padding-right: 2rem;
    &:hover { transform: scale(1.2); }
  }
  // iphone - ipad
  @media (max-width: 768px){
    .container {
      @include flex-center(column);
      letter-spacing: 1px;
    }
    #boxImage { max-width: 266px; }
  }
  @media (min-width: 769px){
    #boxImage { max-width: 266px; }
  }
}
// showcase animations
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: $layout-font;
  height: 50vmin;
  min-width: 300px;
  padding: 5px;
  position: relative;
  text-align: center;
  
  @media (max-width: 361px){
    height: 140vmin;
    width: 80%;
  }
  @media (min-width: 362px){
    height: 130vmin;
    width: 95%;
  }
  @media (min-width: 406px){
    height: 100vmin;
    width: 96%;
  }
  @media (min-width: 475px){
    height: 60vmin;
    width: 96%;
  }
  @media (min-width: 505px){
    height: 50vmin;
  }
  @media (min-width: 605px){
    height: 45vmin;
  }
  @media (min-width: 745px){
    height: 45vmin;
  }
  @media (min-width: 800px){
    height: 30vmin;
    width: 99%;
  }
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  font-size: 42pt;
}
.animated-title > div div {
  padding: 2vmin 0;
  position: absolute;
}
#subHeading {
  font-size: 20pt;
  @include themify($themes) {
    color: themed('subheadingColor');
  }
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  @include flex-center(row);
  @include themify($themes) {
    border-bottom: themed('showcaseBarColor');
  }
  width: 100%;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  @include themify($themes) {
    color: themed('headingColor');
  }
}
.animated-title > div.text-bottom {
  bottom: 0;
  font-size: 15pt;
  text-align: center;
  @include flex-center(row);
  @include themify($themes) {
    color: themed('subheading2Color');
  }
  #topIcon {
    @include flex-center(column);
    width: 100%;
    padding-top: 10%;
    img { width: 50px; }
    @media (max-width: 518px) {
      padding-top: 25%;
    }
  }
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

//contact page form
#formBox {
  @include themify($themes) {
    color: themed('bodyTextColor');
  }
  @include flex-center(column);
  font-family: $layout-font;
  font-size: 15pt;
  form {
    width: 60%;
  }
  #required {
    font-size: 10pt;
    color: red;
  }
  input {
    padding: 5px;
    margin: 5px;
    width: 98%;
  }
  textarea {
    padding: 1rem;
    width: 96.5%;
  }
  #submitButton {
    font-family: $layout-font;
    font-size: 12pt;
    border-radius: 14px;
    color: white;
    position: absolute;
    right: 20%;
    height: 30px;
    width: 100px;
    text-shadow:0px 1px 14px #283966;
    background:linear-gradient(to bottom, #0E6BA8 5%, #63A4C0 100%);
    &:hover {
      cursor: pointer;
      background:linear-gradient(to bottom, #0E6BA8 5%, #7892c2 100%);
    }
  }
  
}
// Modal Styles
.Modal {
  // #63A4C0
  background-color:rgb(226, 225, 225);
  border: 5px solid #0E6BA8;
  color: #001C55;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
  font-family: $body-font;
  margin: 1.75rem auto;
  margin-top: 15rem;
  position: relative;
    height: 200px;
    width: 450px;
  text-align: center;
  z-index: 3;
  button {
    position: absolute;
    top: 8px;
    right: 1px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #bar{
    border-bottom: 2px solid #001C55;
    width: 65%;
  }
  @media (max-width: 450px){
    width: 350px;
  }
}


// image bar
#imageBar {
  @include flex-center(row);
  font-family: $layout-font;
  color: white;
  .image {
    width: 33.3%;
    position: relative;
    text-align: center;
    filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
    &:hover {
      filter: grayscale(0%);
      filter: gray;
        -webkit-filter: grayscale(0%);
      filter: none;
      transition: 1s ease;
    }
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);  
  }
  h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);  
    font-style: italic;
  }
  // iphone
  @media (max-width: 768px){
    @include flex-center(column);
    .image {
      width: 85%;
    }
}
}
//spacer
.spacer {
  width: 100%;
  height: 30vh;
}
// back panels styles
.backgroundPanel{
 @include backgroundPanel();
}

// footer styles
footer{
  @include themify($themes) {
    color: themed('footerTextColor');  
    background-image: themed('footerColor');
  }
  font-family: $layout-font;
  font-size: 12pt;
  word-spacing: 3px;
  letter-spacing: 2px;
  line-height: 25px;
  position: static;
  height: 250px;
  text-align: center;
  padding-top: 50px;
  #copy {
    font-size: 10pt;
  }
  a {
    @include themify($themes) {
      color: themed('footerTextColor');  
    }
    text-decoration: none;
    &:hover {
      color:rgb(95, 95, 95);
    }
  }
}
/*# sourceMappingURL=App.css.map */