.footer{
  font-size: 10pt;
  font-family: 'futura','Gill Sans', 'Gill Sans MT', Calibri;
  clear: both;
  position: static;
	bottom: 0;
	width: 100%;
  background-image: linear-gradient(rgb(0, 153, 255), black);
  color: white;
  height: 3.5rem;
  text-align: center;
}